In [1]:
import pandas as pd
from functools import reduce

In [3]:
def diff_cnt(s1, s2):
    return (s1 != s2).sum()

In [32]:
pd_dfs = []
cat_cols = []
for i in range(1, 28+1):
    if i == 18: continue
    pd_df = pd.read_csv('submission_{}.csv'.format(i))
    pd_df['category'] = pd_df['category'].apply(lambda x : '{:02d}'.format(x))
    pd_df.columns     = ['filename', "category_{}".format(i)]
    cat_cols.append("category_{}".format(i))
    pd_dfs.append(pd_df)
    print("done with", i)

pd_merged = reduce(lambda  left, right: pd.merge(left, right, on=['filename'],
                                                 how='outer'), pd_dfs)
pd_merged.tail()

done with 1
done with 2
done with 3
done with 4
done with 5
done with 6
done with 7
done with 8
done with 9
done with 10
done with 11
done with 12
done with 13
done with 14
done with 15
done with 16
done with 17
done with 19
done with 20
done with 21
done with 22
done with 23
done with 24
done with 25
done with 26
done with 27
done with 28

,filename,category_1,category_2,category_3,category_4,category_5,category_6,category_7,category_8,category_9,...,category_19,category_20,category_21,category_22,category_23,category_24,category_25,category_26,category_27,category_28
12181,ffef3b0e7505855ba5794ebab9aff719.jpg,08,08,09,09,09,09,09,09,09,...,09,09,09,09,09,09,09,09,09,09
12182,ffef86f7872cd020992e00b7cf6585c7.jpg,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
12183,fff8fdfc178e3e94414fc10c69271f88.jpg,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
12184,fff9ee1d7f920b920dd603631d24bc07.jpg,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
12185,fffb6700a1f0e34254d508cd5f125180.jpg,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12

In [35]:
for i in range(1, 28+1):
    if i == 18: continue
    print(i, diff_cnt(pd_merged['category_{}'.format(i)], pd_merged['category_25']))

1 2099
2 2212
3 2133
4 2058
5 2080
6 2071
7 1889
8 1809
9 1769
10 1743
11 1776
12 1777
13 1774
14 2428
15 2133
16 1943
17 1926
19 1913
20 500
21 384
22 333
23 132
24 59
25 0
26 2017
27 2038
28 2033

In [36]:
accepted_cats = [28, 26, 25, 13, 6, 2, 1]
accepted_cat_cols = ['category_{}'.format(cat) for cat in accepted_cats]
accepted_cat_cols

['category_28',
 'category_26',
 'category_25',
 'category_13',
 'category_6',
 'category_2',
 'category_1']

In [38]:
pd_submission = pd_merged[['filename']].copy()
pd_submission['category'] = pd_merged[accepted_cat_cols].mode(axis=1)[0]
pd_submission.head()

                               filename category
0  0004b03ad7eabfb3989727c461310a84.jpg       12
1  0004d34271d0a0253f8a95d0746bae05.jpg       16
2  000d4ad3d0a372fd6eea2fee6bf738ef.jpg       40
3  0012f125ad07123e69468ae1d1d59de4.jpg       22
4  0015831b249b856e569e883a9dc6d4fa.jpg       12

In [39]:
pd_submission.to_csv("submission_1_to_28_ensemble.csv", index=False)

In [40]:
now  = 24
cat_now_name  = 'category_{}'.format(now)
prev = '1_to_27_ensemble'
cat_prev_name = 'category_{}'.format(prev)

pd_submission_prev = pd.read_csv('submission_{}.csv'.format(prev))
pd_submission_prev['category'] = pd_submission_prev['category'].apply(lambda x : '{:02d}'.format(x))
pd_submission_prev.columns = ['filename', cat_prev_name]
pd_submission_prev = pd_submission_prev.merge(pd_submission.sort_values(by='filename'), on='filename')
print(pd_submission_prev.head())

pd_iba = pd_submission_prev[pd_submission_prev[cat_prev_name] != pd_submission_prev['category']]
print(len(pd_iba), len(pd_submission_prev), len(pd_iba) / len(pd_submission_prev))
pd_iba.head(20)

                               filename category_1_to_27_ensemble category
0  0004b03ad7eabfb3989727c461310a84.jpg                        12       12
1  0004d34271d0a0253f8a95d0746bae05.jpg                        16       16
2  000d4ad3d0a372fd6eea2fee6bf738ef.jpg                        40       40
3  0012f125ad07123e69468ae1d1d59de4.jpg                        22       22
4  0015831b249b856e569e883a9dc6d4fa.jpg                        12       12
714 12186 0.0585918266863614

                                 filename category_1_to_27_ensemble category
7    001d40e7718c79ed31750d6c988a90fc.jpg                        29       30
36   00be15de5ebf1c990320e35a0a07cf68.jpg                        07       32
50   00fcb7e22074245e8b6ee99f89d146fd.jpg                        16       03
56   0126dd271b3871c85dacdda4dc4af939.jpg                        17       30
144  034fd4f59af06a79e90e1f2d92ac1ada.jpg                        17       30
145  03503dccd79fd4262306081768e8ec28.jpg                        07       03
146  035ac9c8bfa87c7736133448da4f53cb.jpg                        36       13
156  038a5bdcf70353e6c6296255f4202acd.jpg                        00       01
158  0390152b8d82631f83fd1953636ce13a.jpg                        04       02
160  03a59879e24d9d0c132dc50d7fedd14d.jpg                        17       16
163  03d6cdc94da1e7eca7b1b8b96f7db6b7.jpg                        32       18
174  04316ddd9e5867e894028bda232b6584.jpg                        14       13
185  046ee7c7dcf5e45fb44489af3aeb092c.jpg                        34       15
199  0499c1657cb2d93dc72d6ccede03d89a.jpg                        41       21
200  04a80039209e37d1ac2c4706e9817cf1.jpg                        26       25
205  04b865f4846555a189e9dc1022981261.jpg                        04       02
258  05b55d1c767671d1be31d73a97854b22.jpg                        34       31
274  05f74e83e3ac62ee5ea469e91cbd84f3.jpg                        19       18
275  06007cd487af9752a086c0ffa073e695.jpg                        07       22
281  061fb45ac31a261d9e549c2e80311520.jpg                        41       01